<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="FileSharing" stopProcessing="true">
                    <match url="^([a-zA-Z0-9]{4,32})(/(.*))?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?key={R:1}&amp;path={R:3}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <!-- Prevent directory browsing globally -->
        <directoryBrowse enabled="false" />
        <!-- Allow large file uploads (1 GB) -->
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
